---
- name: Provision and Deploy Application
  hosts: app_servers
  remote_user: ubuntu
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3

  roles:
    - dependencies
    - deploy