name: Application CI/CD

on:
  push:
    branches:
      - main
    paths:
      - 'auth-api/**'
      - 'frontend/**'
      - 'log-message-processor/**'
      - 'todos-api/**'
      - 'users-api/**'
      - 'docker-compose.yml'

jobs:
  deploy:
    name: 'Deploy Application'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Get Server IP
        id: get_ip
        run: |
          cd infra/terraform
          echo "::set-output name=server_ip::$(terraform output -raw public_ip)"
        working-directory: ./

      - name: Deploy Application
        uses: appleboy/ssh-action@master
        with:
          host: ${{ steps.get_ip.outputs.server_ip }}
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /opt/devops-stage-6
            git pull
            docker-compose up -d --build
